@import 'tailwindcss';

@theme {
  --color-jet-black: #363636;
  --color-ghost-white: #f9f9f9;

  --font-sans: var(--font-roboto), sans-serif;
  --font-roboto: var(--font-roboto), sans-serif;
  --font-playwrite: var(--font-playwrite), system-ui, Arial;

  --animate-bounce-in-place: bounceInPlace 1s ease-in-out infinite;
  --animate-marquee-ltr: marqueeLTR 10s linear infinite;
  --animate-marquee-rtl: marqueeRTL 10s linear infinite;

  @keyframes bounceInPlace {
    0% {
      transform: translate(-50%, -50%) translateY(0);
    }
    50% {
      transform: translate(-50%, -50%) translateY(-15px);
    }
    100% {
      transform: translate(-50%, -50%) translateY(0);
    }
  }
  @keyframes marqueeLTR {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(100%);
    }
  }
  @keyframes marqueeRTL {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
}

html {
  scroll-behavior: smooth;
  position: relative;
}

.animate-rotate-once {
  animation: rotateOnce 2s ease-in-out forwards;
}

.scrollbar::-webkit-scrollbar {
  width: 6px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: #000000;
}

.scrollbar::-webkit-scrollbar-track {
  background-color: #ffffff;
}

@media (max-width: 640px) {
  .group:hover .absolute {
    transform: translateX(-50%) scale(1.2);
  }
}

@keyframes rotateOnce {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
